body{
    background-color: #f1ca89;
    font-family: 'Righteous', cursive;

}

#caffeine-container{
    background-color: #cc9b6d;
}

.buttonColor{
    background-color:#f2dac3;
}
h1 {
    background-image: url("assets/pexels-kaboompics-com-6347.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1,h2,label{
    color: white;
}

#submit, #submitAmended {
    border: white solid 1px;
    color: white;
}



table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
